/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #000028;
  --bg-color: #ff0070;
  --title-color: #db00ff;
  --container-title-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --container-info-color: #f1b2ce;
  --accent-background-image: url(../images/cover-image-dark.png);
}
